<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Lako do posla</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body class="ostaleStrane">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:8080/#page-top">Lako do posla</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://localhost:8080/#oglasi">Oglasi</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://localhost:8080/#about">O nama</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="http://localhost:8080/#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container py-5">
        <div id="stranicaOglasa">

            <div id="osnovniPodaci">
                <div id="oglasRowLeft">
                    <h3 id="imgOglasa" style="text-align: center;"> <span>Naziv oglasa<span></h3>

                    <a href="profil.html">
                        <h5 id="poslodavac" style="text-decoration: none;"><i class="fas fa-building"></i>
                            <span>Poslodavac<span></h5>
                    </a>
                    <br>
                    <p id="Lokacija"> <span><i class="fas fa-map-marker-alt"></i> Lokacija </p></span>
                        <p id="radnoVreme"><span><i class="fas fa-clock"></i> Radno vreme </p>
                            <span><i class="fas fa-coins"></i> Plata : </span>
                            <span id="plata"> 50000 </span>
                </div>
                <div id="oglasRowRight">
                    <img id="logoFirme" src="https://i.imgur.com/KFojDGa.jpg">
                </div>
            </div>
            <br>
            <br>
            <div id="opisPoslaDiv">
                <h4><span style="text-align: center;">Opis posla: <br></span></h4>
                <p id="opisPoslaTekst"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                </p>
            </div>
            <div class="dugme">
                <button type="button" class="btn btn-outline-primary"><a id="oglas-link" href="mailto:jefimija.stamenovic@gmail.com">Pošalji CV </a></button>
            </div>
        </div>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Pronađite nas</h4>
                    <p class="lead mb-0">
                        Radoja Domanovića 12
                        <br /> 34000 Kragujevac
                        <br /> Srbija
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Posetite nas na društvenim mrežama</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">O nama</h4>
                    <p class="lead mb-0">
                        Sajt za brzu i jednostavnu pretragu poslova, kao i pronalaženja kandidata za posao.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Lako do posla 2021</small></div>
    </div>
</body>

</html>